{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <title>Apps Bellbank</title>

    <link rel="stylesheet" href="{% static '/materialize/css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static '/base.css' %}">
    <link rel="stylesheet" href="{% static '/style1.css' %}">
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">

</head>
<body>
    <div id="container">            
            <div id="box">
                <div id="box">
                    <h2 align="center">Apps Bellbank</h2>
                    <div class="block" id="block-login">
                        <h2>Iniciar Sesión</h2>

                        <div class="content login row">
                            <form action="" method="post" class="form login">{% csrf_token %}
                                
                                <div class="row wat-cf col s8 offset-s2">    

                                    <!--  Username  -->
                                    <div class="input-field">    
                                        <i class="material-icons prefix fa fa-user fa-3x"></i>
                                        <input id="id_username" name="username" type="text" value=""> 
                                        <label for="id_username">Usuario</label>
                                    </div>

                                    <!--  Password  -->
                                    <div class="input-field">                            
                                        <i class="material-icons prefix fa fa-key fa-3x"></i>
                                        <input id="id_password" name="password" type="password" >     
                                        <label for="id_password">Contraseña</label>                       
                                    </div>
                                    
                                    <input type="hidden" name="next" value="">

                                    <div class="group navform wat-cf">
                                        <button class="button" type="submit">
                                            Iniciar Sesion
                                        </button>
                                    </div>                        
                                </div>
                            </form>
                        </div>
                    </div>
                </div>    
            </div>            
        </div>

    <script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/materialize/js/materialize.min.js' %}"></script>
    <script src="{% static '/style.js' %}"></script>
</body>
</html>
