{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Apps Bellbank</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static '/materialize/css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">


    <link rel="stylesheet" href="{% static '/style.css' %}">
    <link rel="icon" href="{% static '/imagenes/favicon.ico' %}" type="image / x-icon">


</head>

<body onload="myFunction()" style="margin:0;">
    <div class="col m12 s12 x12 navbar-fixed">
        <nav>
            <span class="left brand-logo text-darken-2">
              <i onclick="Materialize.showStaggeredList('#slide-out')" id="btnMenu" data-activates="slide-out" class=" deslizar icono-menu fa fa-bars fa-2x "></i>
          </span>
            <h5 class="center-align"><span class="hide-on-small-only show-on-large">APLICACIONES BELLBANK</span> 
            <span class="show-on-small-only hide-on-med-and-up">Apps BellBank</span></h5>
        </nav>
    </div>
    
    <div id="loader"></div>
    <form action="" method="POST">{% csrf_token %}
        <ul id="slide-out" class="side-nav ">
         <li>
                <i class="iconos-pequeno prefix fa fa-user-o fa-2x"></i>
            </li>
            <li class=" ">
                <a href="/sysadmin" class="btn"><i class="iconos-pequeno fa fa-home fa-1x" ></i> Mostrar Todas</a>
            </li>
            <li class=" " >
                <a href="/sysadminpro" class="btn"><i class="iconos-pequeno fa fa-play fa-1x" ></i> Apps en Producción</a>
            </li>
            <li class=" ">
                <a href="/sysadminqa" class="btn"><i class="iconos-pequeno fa fa-cogs fa-1x" ></i> Apps en QA</a>
            </li>
            <li class=" ">
                <a href="/modify" class="btn disabled"><i class="iconos-pequeno fa fa-plus fa-1x" ></i> Agregar Nuenas Apps </a>
            </li>
            <li class=" ">
                <a href="" class="btn disabled"><i class="iconos-pequeno fa fa-minus fa-1x" ></i> Eliminar Apps</a>
            </li>
            <li class=" ">
                <a href="" class="btn disabled"><i class="iconos-pequeno fa fa-key fa-1x" ></i> Cambiar Contraseña</a>
            </li>
            <li class=" ">
                <a href="" class="btn disabled"><i class="iconos-pequeno fa fa-power-off fa-1x" ></i> Cerrar Sección</a>
            </li>

        </ul>
    </form>






<div class=" col m12">
	<div class="col m6" style=" background-color: gray;">
	<div class="ancho " id="myDiv">
        <div class="col m12 s12 x12 ancho">
            <ul id="link">
                {% for r in resultado %}
                <li class="btn">
                    <a href=" {{ r.enlace }}">
                        <div class="image">
                            <img src="{% static '/imagenes/logo.jpg' %} " alt="" style="width:70px;"> {{ r.nombre }}
                        </div>
                    </a>
                    <div id="informacion" class="border_top">
                        <p> {{ r.descripcion }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>



	</div>
<div class="container col m6" >
	<div class=" row">
		<div class=" box1 col m6 offset-m3 s12 x12">    
			<form action="" method="POST">
			    <!--   Codigo   -->
			    <div class="input-field">    
			        <i class="prefix fa fa-key fa-3x"></i>
			        <input id="pass_ant" name="pass_last" type="text" required> 
			        <label for="pass_ant" class="active">Contraseña Anterior</label>
			    </div>

			    <!--  Descripción  -->
			    <div class="input-field">    
			        <i class="prefix fa fa-key fa-3x"></i>
			        <input id="pass_nue" name="pass_new" type="password" required> 
			        <label for="pass_nue" class="active">Contraseña Nueva</label>
			    </div>

			    <!--  Usuario  -->    
			    <div class="input-field">    
			        <i class="prefix fa fa-key fa-3x"></i>
			        <input id="rep_pass" name="rep_pass" type="password" required> 
			        <label for="rep_pass" class="active">Confirmar Nueva Contraseña</label>
			    </div>

			    <!--   Boton   --> 
			    <div class=" center group navform wat-cf">
			        <button class="boton-guardar-contrasena hoverable waves-effect" type="submit">Guardar Cambios</button>
			    </div>   
			     <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>                    
			</form>
		</div>
	</div>
</div>
</div>







    <script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/materialize/js/materialize.min.js' %}"></script>
    <script src="{% static '/style.js' %}"></script>
</body>