{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Apps Bellbank</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static '/materialize/css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">


    <link rel="stylesheet" href="{% static '/style.css' %}">
    <link rel="icon" href="{% static '/imagenes/favicon.ico' %}" type="image / x-icon">


</head>

<body onload="myFunction()" style="margin:0;">
    <div class="col m12 s12 x12 navbar-fixed">
        <nav>
            <span class="left brand-logo text-darken-2">
              <i onclick="Materialize.showStaggeredList('#slide-out')" id="btnMenu" data-activates="slide-out" class=" deslizar icono-menu fa fa-bars fa-2x "></i>
          </span>
            <h5 class="center-align"><span class="hide-on-small-only show-on-large">APLICACIONES BELLBANK</span>
                <span class="show-on-small-only hide-on-med-and-up">Apps BellBank</span></h5>
        </nav>
    </div>

    <div id="loader"></div>
    <form action="" method="POST">{% csrf_token %}
        <ul id="slide-out" class="side-nav ">
            <li>
                <i class="iconos-pequeno prefix fa fa-user-o fa-2x"></i>
            </li>
            <li class=" ">
                <a href="/sysadmin" class="btn"><i class="iconos-pequeno fa fa-home fa-1x" ></i> Mostrar Todas</a>
            </li>
            <li class=" ">
                <a href="/sysadminpro" class="btn"><i class="iconos-pequeno fa fa-play fa-1x" ></i> Apps en Producción</a>
            </li>
            <li class=" ">
                <a href="/sysadminqa" class="btn"><i class="iconos-pequeno fa fa-cogs fa-1x" ></i> Apps en QA</a>
            </li>
            <li class=" ">
                <a href="/modify" class="btn disabled"><i class="iconos-pequeno fa fa-plus fa-1x" ></i> Agregar Nuenas Apps </a>
            </li>
            <li class=" ">
                <a href="" class="btn disabled"><i class="iconos-pequeno fa fa-minus fa-1x" ></i> Eliminar Apps</a>
            </li>
            <li class=" ">
                <a href="" class="btn disabled"><i class="iconos-pequeno fa fa-key fa-1x" ></i> Cambiar Contraseña</a>
            </li>
            <li class=" ">
                <a href="" class="btn disabled"><i class="iconos-pequeno fa fa-power-off fa-1x" ></i> Cerrar Sección</a>
            </li>

        </ul>
    </form>






    <div class="row col m12">
        <div class="col m7">
            <div class="ancho " id="myDiv">
                <div class="col m12 s12 x12 ancho">
                    <ul id="link">
                        {% for r in resultado %}
                        <li class="btn ">
                            <a href=" {{ r.enlace }}">
                                <div id="padre" class="row col s12">
                                    <div class=" col s4">
                                        <img src="{{ MEDIA_URL }}{{ r.logo }}" alt="">
                                    </div>
                                    <div id="nombre" class="col s8">{{ r.nombre }}</div>
                                </div>
                            </a>
                            <div id="informacion" class="border_top">
                                <p> {{ r.descripcion }}</p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class=" fixed container col m5">
                <div class=" row">
                    <div class=" col m4 sidebar">
                        <form action="" method="POST">
                            <!--   Nombre   -->
                            <div class="input-field">
                                <i class="prefix fa fa-edit fa-3x"></i>
                                <input id="nombre" name="nombre" type="text" data-length="15" required>
                                <label for="nombre" class="active">Nombre</label>
                            </div>

                            <!--  Enlace  -->
                            <div class="input-field">
                                <i class="prefix fa fa-link fa-3x"></i>
                                <input id="enlace" name="enlace" type="url" required>
                                <label for="enlace" class="active">Enlace</label>
                            </div>

                            <!--  Descripción  -->
                            <div class="input-field">
                                <i class="prefix fa fa-edit fa-3x"></i>
                                <input id="descripción" name="descripción" type="text" data-length="150" required>
                                <label for="descripción" class="active">Descripción</label>
                            </div>
                            <!--   Cargar logo   -->
                            <div class=" cent file-field input-field">
                                <div class="btn">
                                    <span>Selecionar</span>
                                    <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            <div class="row col s12">
                                <!--  Estado  -->
                                <div class="input-field col s6">
                                    <select>
                                    <option value="" disabled selected>Estado</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="3">Option 4</option>
                                </select>
                                </div>
                                <!--  Permiso  -->
                                <div class="input-field col s6">
                                    <select>
                                    <option value="" disabled selected>Permiso</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="3">Option 4</option>
                                </select>
                                </div>
                                <!--   Boton   -->
                                <div class=" center group navform wat-cf">
                                    <button class="btn hoverable waves-effect" type="submit">Guardar Cambios</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>







        <script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static '/materialize/js/materialize.min.js' %}"></script>
        <script src="{% static '/style.js' %}"></script>
</body>