{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Apps Bellbank</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static '/materialize/css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">


    <link rel="stylesheet" href="{% static '/style.css' %}">
    <link rel="icon" href="{% static '/DBFZ.png' %}" type="image / x-icon">


</head>

<body>
    <div class="col m12 s12 x12 navbar-fixed">
        <nav>
            <span class="left brand-logo text-darken-2">
              <i onclick="Materialize.showStaggeredList('#slide-out')" id="btnMenu" data-activates="slide-out" class=" deslizar icono-menu fa fa-bars fa-2x "></i>
          </span>
            <h5 class="center-align"><span class="hide-on-small-only">APLICACIONES</span> BELLBANK</h5>
            <!-- <h5 class="center-align"><span class="hide-on-small-only">APLICACIONES</span> </h5> -->
        </nav>
    </div>

    <ul id="slide-out" class="side-nav ">
        <li>
            <i class="iconos-pequeno prefix fa fa-user-o fa-2x"></i>
        </li>
        <li class=" ">
            <a href="/" class="active-btn btn"><i class="iconos-pequeno fa fa-home fa-1x" ></i> Inicio</a>
        </li>
        <li class=" ">
            <a href="" class="btn"><i class="iconos-pequeno fa fa-play fa-1x" ></i> Apps en Producción</a>
        </li>
        <li class=" ">
            <a href="/" class="btn"><i class="iconos-pequeno fa fa-cogs fa-1x" ></i> Apps en QA</a>
        </li>
        <li>
            <a href="/" class="btn"><i class="iconos-pequeno fa fa-plus fa-1x" ></i> Agregar Nuenas Apps </a>
        </li>
        <li class=" ">
            <a href="/" class="btn"><i class="iconos-pequeno fa fa-minus fa-1x" ></i> Eliminar Apps</a>
        </li>
        <li class=" ">
            <a href="" class="btn"><i class="iconos-pequeno fa fa-power-off fa-1x" ></i> Cerrar Sección</a>
        </li>
    </ul>

    <div class="ancho">
        <div class="col m12 s12 x12 ancho">
            <ul id="link">
                {% for r in resultado %}
                <li class="btn">
                    <a href=" {{ r.enlace }}">
                        <div class="image">
                            <img src="{% static 'logo.jpg' %} " alt="" style="width:70px;"> {{ r.nombre }}
                        </div>
                    </a>
                    <div id="informacion" class="border_top">
                        <p> {{ r.descripcion }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/materialize/js/materialize.min.js' %}"></script>
    <script src="{% static '/style.js' %}"></script>
</body>