{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Apps Bellbank</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static '/materialize/css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static '/style.css' %}">
    <link rel="icon" href="{% static '/imagenes/favicon.ico' %}" type="image / x-icon">
</head>

<body onload="myFunction()" style="margin:0;">
    <div id="loader" class="progress hide-on-med-and-down">
        <div class="indeterminate"></div>
    </div>

    <div class=" navbar-fixed">
        <nav class="">
            <div class="nav-wrapper ">
                <!-- --- --- Boton Menu Lado Izquierdo --- --- -->
                <span class="left brand-logo text-darken-2">
                    <i onclick="Materialize.showStaggeredList('#slide-out')" id="btnMenu" data-activates="slide-out" class=" deslizar icono-menu fa fa-bars fa-2x "></i>
                </span>
                <!-- --- --- Fin Boton Menu Lado Izquierdo --- --- -->


                <div class="brand-logo center">
                    <h5 class="center-align">
                        <span class="hide-on-small-only show-on-large">
                            <a href="{% url 'Sysadmin' %}" class="center-align">APLICACIONES BELLBANK</a>
                        </span>
                        <span class="show-on-small-only hide-on-med-and-up">
                            <a href="{% url 'Sysadmin' %}" class="center-align">Apps BellBank</a>
                        </span>
                    </h5>
                </div>

                <!-- --- --- Todo los que se muestra en el Menu del lado Derecho --- --- -->
                <ul class="right hide-on-med-and-down">
                    <li>
                        <form action="" method="GET">
                            <input class="search1" type="search" name="app" placeholder="Buscar Aplicación">
                            <button class="boton btn" type="submit">
                                <i id="search" class="fa fa-search"></i>Buscar</button>
                        </form>
                    </li>
                </ul>


                <!-- --- --- Fin todo los que se muestra en el Menu del lado Derecho --- --- -->
            </div>
        </nav>
    </div>

    <form action="" method="POST">{% csrf_token %}
        <ul id="slide-out" class="side-nav ">
            <li style=" background-color: #00585b; padding: 0px 9px;">
                <h5 class="center" style="padding: 12px; margin: 0px 10px 10px 0px; color: #fff;">Clasificar</h5>
            </li>
            <li class=" ">
                <a href="/admin" class="btn"><i class="iconos-pequeno fa fa-cogs fa-1x" ></i> Modificar Apps </a>
            </li>
            {% for d in departamento %}
            <li class=" ">
                <a class="btn" href="{% url 'Sysadmin' %}{{d.departamento}}"> {{d.departamento}} </a>
            </li>
            {% endfor %}

        </ul>
    </form>

    <div class="ancho " id="myDiv">
        <div class="col m12 s12 x12 ancho">
            <ul id="link">
                {% for r in resultado %}
                <li class="btn ">
                    <a href="{{ r.enlace }}">
                        <div id="padre" class="row col s12">
                            <div class=" col s4">
                                <img src="{{ MEDIA_URL }}{{ r.logo }}" alt="">
                            </div>
                            <div id="nombre" class="col s8">{{ r.nombre }}</div>
                        </div>
                    </a>
                    <hr>
                    <div id="informacion" class="">
                        <p> {{ r.descripcion }} </p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/materialize/js/materialize.min.js' %}"></script>
    <script src="{% static '/style.js' %}"></script>
</body>